<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.mapper.CourseManageMapper">
	<delete id="delCourse">
		delete from course where id in
		<foreach collection="array" item="ids" open="(" close=")" separator=",">
			#{ids}
		</foreach>
	</delete>

	<resultMap type="user" id="mymap">
		<result column="tid" property="teacher.id"></result>
	</resultMap>
	<select id="selTeaIdAndName" resultMap="mymap">
		select u.name,t.id tid 
		from user u
		LEFT JOIN teacher t on u.id=t.uid 
		WHERE u.rid=2
	</select>
	
	
</mapper>