<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.mapper.RegisterInfoMapper">
	<resultMap type="student" id="stu_reginfo">
		<result column="id" property="id"/>
		<result column="dept" property="dept"/>
		<result column="major" property="major"/>
		<!--<result column="account" property="user.account"/>
		<result column="regTime" property="user.regTime"/>
		<result column="regCode" property="user.regCode"/> -->
		<association property="user">
			<result column="account" property="account"/>
			<result column="regTime" property="regTime"/>
			<result column="regCode" property="regCode"/>
		</association>
	</resultMap>
	<select id="selStuById" resultMap="stu_reginfo">
		select s.id,s.dept,s.major,u.account,u.regTime,u.regCode 
		from student s 
		left join user u on s.uid=u.id 
		where s.uid=#{arg0}
	</select>
	
	
	<resultMap type="user" id="tea_reginfo">
		<result column="id" property="id"/>
		<result column="account" property="account"/>
		<result column="regTime" property="regTime"/>
		<result column="regCode" property="regCode"/>
		<association property="teacher">
			<result column="title" property="title"/>
		</association>
	</resultMap>
	<select id="selTeaById" resultMap="tea_reginfo">
		select u.id,u.account,u.regTime,u.regCode,t.title
		from user u 
		left join teacher t on u.id=t.uid
		where u.id=#{arg0}
	</select>
</mapper>