<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ye.mapper.StudentManageMapper">
	<delete id="delStudent">
		delete from user where id in
		<foreach collection="list" item="ids" open="(" close=")" separator=",">
			#{ids}
		</foreach>
	</delete>
	
	<resultMap type="user" id="edit_map">
		<result column="sid" property="student.id"/>
		<result column="birth" property="student.birth"/>
		<result column="nation" property="student.nation"/>
		<result column="politicsStatus" property="student.politicsStatus"/>
		<result column="dept" property="student.dept"/>
		<result column="major" property="student.major"/>
		<result column="grade" property="student.grade"/>
		<result column="address" property="student.address"/>
		<result column="identity" property="student.identity"/>
	</resultMap>
	<select id="selById" resultMap="edit_map">
		select u.*,s.id sid,s.birth,s. nation,s.politicsStatus,s.dept,s.major,s.grade,s.address,s.identity
		from user u 
		LEFT JOIN student s on u.id=s.uid 
		WHERE u.id=#{id};
	</select>
</mapper>